header{
	background: gold; 
	text-align:center;
	border:10px solid black;
}

#spis_tresci{
	background: orange; 
	padding:10px;
	border:5px dotted;
}
#baner{
	text-align:center;
	color:white;
	border:10px solid red;
}

#conteiner {
	background: red; 
	margin-right:auto;
	margin-left:auto;
	width:1400px;
}

#nav{
	background:green;
	text-align:center;
	float:left;
	width:205px;   
	border:5px solid black;
	
}

#content{
	float:left;
	width:775px;
}

.opis_anime{
		background-color:pink;
		border: 5px solid purple;
		padding:10px;
	}
	
.klasyfikacja{
		background-color:orange;
		border: 5px solid green;
		padding:5px;
}
.informacje{
		background-color:purple;
		border: 5px solid white;
		padding:5px;
		color:orange;
}

#img{
	text-align:center;
	background:gold;
	float:left;
	width:400px; 
	padding:5px;
}

#ciekawostki {
	background:orange;
	border:5px solid black;
}

#footer{
	text-align:center;
	padding:5px;
	background:brown;
	clear:both;
	border:10px double pink;